<!--
  Generated template for the AfficheAnnoncePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Stu'Deal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content> 

    <ion-slides pager >

        <ion-slide style="background-color: rgb(38,53,58)">
          <ion-header>
              {{type}} un cours : {{iSlide}}
          </ion-header>

            <ion-card icon-top *ngFor="let item of itemC">
              <ion-card-content>
                <u>{{item.titre}}</u> 
                
                <button right (click)="choixF(item,item.ID,item.IDAnnonce,item.titre)" class="button button-dark"> 
                    <ion-icon color="light" name="arrow-forward" item-left></ion-icon>
                </button>
              </ion-card-content>
            </ion-card>
           
            <ion-fab right bottom>
                <button (click)="AddC()" ion-fab color="dark"><ion-icon name="add"></ion-icon></button>  
            </ion-fab>

        </ion-slide>
      
        <ion-slide style="background-color: rgb(0,74,91)">
           <ion-header>
              {{type}} un livres :
            </ion-header>

            <ion-card icon-top *ngFor="let item of itemL">
                <ion-card-content>
                    <u>{{item.titre}}</u> 
                    <button right (click)="choixF(item,item.ID,item.IDAnnonce,item.titre)" class="button button-dark"> 
                        <ion-icon color="light" name="arrow-forward" item-left></ion-icon>
                    </button>
                </ion-card-content>
              </ion-card>
  
              <ion-fab right bottom>
                  <button (click)="AddL()" ion-fab color="dark"><ion-icon name="add"></ion-icon></button>  
              </ion-fab>

        </ion-slide>
      
        <ion-slide style="background-color: rgb(49,134,155)">
            <ion-header>
                {{type}} du mobiliers : 
            </ion-header>

            <ion-card icon-top *ngFor="let item of itemM">
                <ion-card-content>
                  <u>{{item.titre}}</u> 
                  <button right (click)="choixF(item,item.ID,item.IDAnnonce,item.titre)" class="button button-dark"> 
                      <ion-icon color="light" name="arrow-forward" item-left></ion-icon>
                  </button>
              </ion-card-content>
            </ion-card>
  
              <ion-fab right bottom>
                  <button (click)="AddM()" ion-fab color="dark"><ion-icon name="add"></ion-icon></button>  
              </ion-fab>

        </ion-slide>

        <ion-slide style="background-color: rgb(65,64,66)">
            <ion-header>
                Chercher un repas :
            </ion-header>

            <ion-card icon-top *ngFor="let item of itemR">
                <ion-card-content>
                  <u>{{item.titre}}</u> 

                  <button right (click)="choixF(item,item.ID,item.IDAnnonce,item.titre)" class="button button-dark"> 
                      <ion-icon color="light" name="arrow-forward" item-left></ion-icon>
                  </button>                
              </ion-card-content>
              </ion-card>
  
              <ion-fab right bottom>
                  <button (click)="AdRC()" ion-fab color="dark"><ion-icon name="add"></ion-icon></button>  
              </ion-fab>

        </ion-slide>

        <ion-slide style="background-color: rgb(84,84,86)">
            <ion-header>
                Chercher une colocation :
            </ion-header>

            <ion-card icon-top *ngFor="let item of itemCo"  >
                <ion-card-content>
                  <u>{{item.titre}}</u> 
                  <button right (click)="choixF(item,item.ID,item.IDAnnonce,item.titre)" class="button button-dark"> 
                      <ion-icon color="light" name="arrow-forward" item-left></ion-icon>
                  </button>               
                </ion-card-content>
              </ion-card>
  
              <ion-fab right bottom>
                  <button (click)="AddCol()" ion-fab color="dark"><ion-icon name="add"></ion-icon></button>  
              </ion-fab>

        </ion-slide>
      
      </ion-slides>


  <ion-fab left bottom>
    <button (click)="back()" ion-fab color="dark"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-fab>

    

</ion-content>





<ion-footer>
  
    <ion-title>{{Username}}</ion-title>
    
  
  </ion-footer>