page-menu {
    p{
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-left: auto;
        }
    
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block;   
        }
        
    
    .menuP{
        background-color: #31427B;
    }
    
}


